*{
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
}
:root{
    --primary:#AF8C3E;
    --secondary:#0E1730;
    --white:white;
    --zcool:'ZCOOL XiaoWei', sans-serif;
    --opensans:'Open Sans', sans-serif;
}
.fs{
    font-size: 18px;
}
.ff{
    font-family: var(--opensans);
}
.ff2{
    font-family:var(--zcool) ;
}
.text-primary{
    color: #595959;
}
.container{
    width: 1360px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
 ol,ul {
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.align-item{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.padding{
    padding: 20px;
}
.text-cap{
    text-transform: capitalize;
}
.padding-content{
    padding: 100px 0;
}
.w-50{
    width: 50%;
    padding: 10px;
}
.w-30{
    width: 30%;
    padding: 10px;
}
.w-40{
    width: 40%;
    padding: 10px;
}
.w-60{
    width: 60%;
}
.w-25{
    width: 25%;
    padding: 10px;
}
.padding-zero{
    padding-bottom: 0%;
}
.margin-b-60{
    margin-bottom: 60px;
}
.w-100{
    width: 100%;
}

/* header-sec */
header{
    position: fixed;
    top: 0%;
    background-color: white;
    z-index: 5;
    width: 100%;
}
nav ul li a{
    position: relative;
    padding-left:20px ;
    text-transform: capitalize;
    font-size:18px;
    font-family: var(--opensans);
    transition: 0.5s all;
}
nav ul li a:hover{
    color: var(--primary);
}
nav ul li a .fa-angle-down{
    transition: 0.5s all;
}
nav ul li a:hover .fa-angle-down{
    transform: rotate(180deg);
}
.btn{
    padding: 20px 34px;
    font-family: var(--zcool);
    font-size:18px;
    border: none;
    color: white;
    background-color: var(--primary);
    margin-left: 30px;
    transition: 0.5s all;
    text-transform: capitalize;
}
.btn:hover{
    background-color: var(--secondary);
}
.fa-plus{
    margin-left: 5px;
    transition: 0.5s all;
}
.btn:hover .fa-plus{
    transform: rotate(45deg);
}

.dropdown{
    top: 50%;
    width: 200px;
    padding: 20px;
    position: absolute;
    background-color: #ffffff;
    opacity: 0;
    box-shadow: 2px 6px 10px gray;
    visibility: hidden;
    font-family: var(--opensans);
    transition: 0.5s all;
    z-index: 2;
}
.dropdown ul li {
    margin-bottom: 10px;
}
nav ul li:hover .dropdown{
    top: 100%;
    opacity: 1;
    visibility: visible;
    transform:scale(1);
}



/* banner */



.banner-img{
    transform: scale(1.4) translateX(14%) translateY(2.6%);
}
.banner-bg{
    background-color: #f7f7f7;
    padding-bottom: 0;
    margin-top: 100px;
}
.banner-content{
    width: 80%;
    position: relative;
}
.banner-bg h1{

    font-size:60px;
    font-weight:lighter;
    font-family: var(--zcool);
    line-height: 60px;
    color: #00061D;
    margin-bottom:20px;
    width: 540px;
}
.banner-p1{
    font-family: var(--zcool);
    text-transform: uppercase;
    color: #0E1730;
    margin-bottom:20px;
}
.banner-p2{
    font-family: var(--opensans);
    color: #595959;
    margin-bottom: 20px;
    line-height: 27px;

}
.searchbar{
    background-color: #ffffffb3;
    backdrop-filter: blur(10px);
    width: 922px;
    padding: 30px;
    position: absolute;
    top: 130%;
    z-index: 2;
}
.searchbar .row{
    gap: 36px;
}
.check-in {
    border: none;
    border-bottom: 1px solid var(--secondary);
    position: relative;
    font-family: var(--opensans);
    font-size:16px ;
    color: #595959;
}
.check-in:nth-child(1):after,.check-in:nth-child(2):after{
    content: 'check in';
    position: absolute;
    top: 21px;
    background-color: white;
    width: 100px;
}
.check-in:nth-child(2):after{
    content: 'check out';
}
.select{
    color: #595959;
    border: none;
    border-bottom: 1px solid var(--secondary);
    outline: none;
    width: 92px;
}
.searchbar::after{
    content: '';
    position: absolute;
    width: 73%;
    height: 100%;
    top: 0%;
    left: 0%;
    border: 1px solid var(--primary);
    border-right: none;
    z-index: -1;

}

/* our hotel */

.border{
    border-bottom: 1px solid #E7E7EB;
    padding-bottom: 30px;
}
.ourhotel .w-30 h1{
    font-size: 48px;
    font-weight: 200;
    color: #212121;
}

.w-40 ul li{
    color: var(--secondary);
    font-size: 20px;
}
.gallery{
    overflow: hidden;

}
.w-25 img{
    gap: 10px;
    transition: 0.5s all;
   
}
.gallery:hover img{
    transform: scale(1.2);
}

/* about us  */


.aboutus h1{
    font-size: 48px;
    font-weight: 200;
    color: #212121;
    border-bottom: 1px solid #E7E7EB;
    padding-bottom: 30px;
}
 .aboutimg{
    padding: 0 10px;
 }
 .comfort{
    width: 630px;

 }
 .comfort h1{
    font-size: 48px;
    margin-bottom: 25px;
    font-weight: 200;
    color: #212121;
 }
 .comfort .p1{
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    color:#595959;
 }
 .comfort p {
    color: var(--secondary);
    margin-left: 10px;
   margin-bottom: 20px;
 }
 .comfort .fa-arrow-right-long{
    color: var(--primary);
    margin-right: 10px;
 }
 .comfort .readmore{
    margin-top: 40px;
 }
   
 /* counter */

 .counter {
    background-image: url(/img/counter-img.png);
 }

